@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.login_signup_body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #35408E;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nulogo {
    width: 200px; 
    height: auto; 
    display: block;
}
.login-box, .signup-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
}
.login-header, .signup-header{
    text-align: center;
    margin: 20px 0 40px 0;
}
.login-header header, .signup-header header{
    color: #ffd41c;
    font-size: 30px;
    font-weight: 600;
}
.input-box .input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 5px 10px 1px rgba(0,0,0,0.05);
    outline: none;
    transition: .3s;
}
::placeholder{
    font-weight: 500;
    color: #000;
}
.input-field:focus{
    width: 105%;
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
}
#check{
    margin-right: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section a{
    color: #fff;
}
section a:hover{
    color: #ffd41c;
    transform: scale(1.05,1);
}
.input-submit{
    position: relative;
}
.submit-btn{
    width: 100%;
    height: 60px;
    background: #ffd41c;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #000;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.submit-btn:hover{
    background: #f1d762;
    transform: scale(1.05,1);
}
.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    color: #fff;
}
.sign-up-link a{
    color: #fff;
    font-weight: 600;
}
.sign-up-link a:hover{
    color: #f1d762;
    transform: scale(1.05,1);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
}
input[type="number"] {
      -moz-appearance: textfield;
}
.dashboard_body{
    display: flex;
    flex-direction: column;
    background: #fff;
}
.top-bar {
    width: 100%;
    background-color: #35408E; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav-links a {
    color: #ffd41c;
    text-decoration: none;
    margin-left: 15px;
    font-size: 1em;
}

.nav-links a:hover {
    text-decoration: underline;
}

.dashboard_logo {
    display: flex;
    align-items: center;
}

.dashboard_nulogo {
    height: 50px; 
    width: auto;
    display: block; 
}

.logo-text {
    margin-left: 5px; 
    font-size: 1.5em; 
    font-weight: bold;
    color: #fff;
}

.header {
    width: 100%; 
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd; 
    box-sizing: border-box; 
}


.table-container {
    margin: 20px auto;
    width: 90%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

table thead tr {
    background-color: #35408E;
    color: #ffffff;
    text-align: center;
}

table th, table td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}
table th {
    background-color: #35408E;
    color: white;
}

table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
.pagination-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.pagination-container span {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.pagination {
    display: flex;
    gap: 10px;
}

.pagination a {
    text-decoration: none;
    color: #141E46;
    padding: 5px 10px;
    border: 1px solid #141E46;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
    background-color: #141E46;
    color: white;
}

.pagination a:disabled {
    color: #aaa;
    border-color: #aaa;
    pointer-events: none;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 1em;
    text-align: left;
}

.modal table th, .modal table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.modal table thead tr {
    background-color: #35408E;
    color: #ffffff;
    text-align: center;
}

.modal-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px; 
}

.modal-actions button {
    padding: 5px 10px;
    border: 1px solid #141E46;
    border-radius: 4px;
    background-color: white;
    color: #141E46;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.modal-actions button:hover {
    background-color: #141E46;
    color: white;
}
.filter-buttons {
    margin: 20px 0;
    text-align: center;
}

.filter-btn {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: white;
    color: #0F1730;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s;
    border: 1px solid #141E46;
    border-radius: 4px;
}

.filter-btn:hover {
    background-color: #0F1730;
    color: #fff;
}

.filter-btn:active,
.filter-btn.active {
    background-color: #0F1730; 
    color: #FFC107; 
}

.search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3px;
    margin-right: 60px;
}

.search-bar {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #141E46;
    border-radius: 4px;
}

.search-btn {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #141E46;
    border-radius: 4px;
    background-color: #141E46;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}

.search-btn:hover {
    background-color: #0F1730;
}
